<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index ::  dynamic(~{::main})}">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>
    <main th:object="${order}">
        <div class="card">
            <div class="card-header">
                ORDER INFORMATION
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <div class="">Order Number:</div>
                        <input type="text" th:field="*{id}" name="" id="">
                    </div>

                    <div class="form-group col-sm-4">
                        <div class="">Purchase:</div>
                        <input type="text" th:field="*{account.username}" name="" id="">
                    </div>

                    <div class="form-group col-sm-4">
                        <div class="">Purchase date:</div>
                        <input type="text" th:field="*{createDate}" name="" id="">
                    </div>

                    <div class="form-group col-sm-4">
                        <div class="">Shipping address:</div>
                        <input type="text" th:field="*{address}" name="" id="">
                    </div>


                </div>
            </div>
        </div>

       
    
        <section class="mt-5" style="background-color: khaki;" th:fragment="shopping_cart">
            <div class="panel-heading" style="text-align : center ;">ORDER LINES</div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>id </td>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Quantity</td>
                            <td>Amount</td>
                        </tr>
                    </thead>
                    <tbody>
    
                        <tr th:each="detail: *{orderDetails}" th:object="${detail}">
                            <td>[[*{product.id}]]</td>
                            <td>[[*{product.name}]]</td>
                            <td>$[[*{#numbers.formatDecimal(price, 0 , 'COMMA',2,'POINT')}]]</td>
                            <td>[[*{quantity}]]</td>
                            <td>$[[*{#numbers.formatDecimal(price*quantity, 0 , 'COMMA',2,'POINT')}]]</td>
                        </tr>
                      
    
    
                    </tbody>
                </table>
                
               
    
            </section>



    </main>
</body>

</html>